* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h3 {
    padding-bottom: 20px;
}

.submit{
    height: 50px;
    width: 100px;
    font-size: 1.5rem;
    border-radius: 10px;
    background-color: red;
}

form {
    height: 400px;
    width: 700px;
    background-color: orange;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
}

[type="email"] {
    height: 40px;
    border-radius: 10px;
    text-align: center;
    font-size: 1.5em;
    width: 80%;

}

input {
    margin-bottom: 20px;
}